nav{
  
}


.flex-containerItemsBusquedaDesktop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.iBusquedaDektop{
    width: 19%;
}

.iBusquedaDektop .cardSearchProduct{
  background: red;
  height: 250px;
  margin: 1px;
}


.roundSearch{
    position: absolute;
    right: 4%;
    top: 4%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.roundSearch button{
    position: absolute;
    top: 20%;
    left: 20%;
    background: none;
    border: none;
    font-size: 20px;
    color: #000;
}

.flex-containerBusquedaDesktop{
    position: absolute;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    width: 0%;
    transition: 0.5s ease-in-out;
    z-index: 999;
}


.expandSearchD{
    width: 100%;
}

.flex-itemBusquedaDesktop{
    
    padding: 30px;
}


.flex-itemBusquedaDesktop input{
    border: none;
    border-bottom: 1px solid #000;
    width: 94%;
}




.flex-itemBusquedaDesktop label{
    font-size: 25px;
    color: #000;
}

.flex-itemBusquedaDesktop i{
    cursor: pointer;
}



.muestraC{
    display: inline-block;
}

#menu-movil{
    display: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #322442;
    height: 30px;
}

.flex-item{
    flex: 1;
    align-content: center;
    padding: 10px;
    text-align: center;
}

.social-media1{
    color: #fff;
    margin-left: 2px;
  
}

.social-media1 i{
    margin-left: 10px;
    font-weight:  bold;
}

.flex-logo{
    width: 120px;
    height: 120px;
}

.flex-logo img{
    width: 100%;
    height: 100%;
    padding: 7px;
    align-self: center;
}

.flex-item:first-child{
    background: #322442;
    color: #fff;
    
}

.flex-item:nth-child(2){
    background: #322442;
    text-align: center;
    color: #fff;
    
}

.flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #4B3663;
    
}

.flex-item2{
    flex: 1;
    color: #fff;
}




.flex-item2:nth-child(2){
    padding: 42px;
    text-align: right;
    flex: 2;
    text-align: left;
}

.flex-item2:nth-child(3){
    padding: 45px;
    text-align: left;

}




.flex-container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #4B3663;
    
    
}

.flex-item3{
    flex: 1;
    text-align: center;
    padding: 8px;
    color: #fff;
}

.flex-item3 a{
    font-size: 16px;
}

.icons-menu p{
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

.icons-menu p:first-child{
    cursor: pointer;
}

.categorias-info{
    overflow: hidden;
    background: #fff;
    height: 0;
    width: 1220px;
    position: absolute;
    right: 2%;
    transition: 0.5s ease-in-out;
    z-index: 999;
}


.flex-containerCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.flex-itemsCategorias{
    width: 75%;
    padding: 20px;
    height: auto;
}

.flex-itemsCategorias ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-itemsCategorias ul li a{
    font-weight: bold;
    font-size: 14px;
}

.flex-itemContentCategorias img{
    width: 300px;
    height: 300px;
    animation: traslacion 2s;

}


@keyframes traslacion{
    0%{
        position: absolute;
        top: 200px;
        opacity: 0;

    }

    100%{
        opacity: 1;
        top: 600px;
    }
}




.flex-itemsCategorias:first-child{
    width: 15%;
    background: #fff;
   
}


.flex-containerContenidoCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.flex-itemContentCategorias{
    width: 25%;
}


.flex-itemContentCategorias h1{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.flex-itemContentCategorias ul{
    margin: 0;
    padding: 0;
}

.flex-itemContentCategorias ul li{
    list-style: none;
    line-height: 0.5em;
}

.flex-itemContentCategorias ul li p{
    font-size: 14px;
}

.flex-containerContenidoEquipos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-itemContentEquipos{
    width: 25%;
}

.flex-itemContentEquipos h1{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.flex-itemContentEquipos ul{
    margin: 0;
    padding: 0;
}

.flex-itemContentEquipos ul li{
    list-style: none;
    line-height: 0.5em;
}

.flex-itemContentEquipos ul li p{
    font-size: 14px;
}

.flex-itemContentEquipos:last-child img{
    width: 300px;
    height: 300px;
    animation: traslacion 2s;

}


.flex-containerContenidoAccesorios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.flex-itemContentAccesorios{

}




.clasePrueba{
   
    height: 800px;
}

.flex-containerOtrasOpciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.flex-itemOtrasOpciones{
    flex: 1;
    padding: 30px;
    text-align: left;

}


.flex-itemOtrasOpciones ul{
    
}

.flex-itemOtrasOpciones ul li{
    list-style: none;
}

.flex-itemOtrasOpciones img{
    width: 400px;
    height: 400px;    
}

.flex-itemOtrasOpciones ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #000;


}


@media screen and (max-width: 640px) and (min-width: 568px){
    .closeButton{
        height: 50px;
        width: 50px;
        position: absolute;
        right: 2%;
        top: 80%;
        border-radius: 50%;
        background: #4B3663;
        display: none;
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    .closeButton a{
       position: absolute;
       top: 20%;
       left: 32%;
       text-decoration: none;
       color: #fff;
       font-size: 20px;
    }

    .closeButtonAppear{
        position: fixed;
        display: block;
        /*z-index: 1999;*/
        opacity: 1;
    }

    .contenedorBusqueda{
        height: 600px;
        width: 0%;
        overflow: hidden;
        position: absolute;
        
        /*z-index: 999;*/
        background: #fff;
        transition: 0.3s ease-in-out;
    }

    .expandContenedorBusqueda{
        height: 600px;
        width: 100%;
        background: #fff;
    }

    .searchContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


    .flex-searchItem{
        padding: 10px;
    }

    .flex-searchItem:first-child label{
        font-size: 18px;
    }

    .flex-searchItem:first-child input{
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .flex-containerItemsSearch{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .itemSearch{
        width: 23%;
        padding: 5px;
        height: 100px;
        background: red;
        padding: 10px;
        margin: 1px;
    }


    .contenedorSegundaVista{
        position: absolute; 
        right: 0%;
        /*z-index: 999*/
    }
    .contenedorSegundaVista{
        position: absolute; 
        right: 0%;
         /*z-index: 999*/
    }

    #menu-escritorio{
        display: none;
    }

    #menu-movil{
        display: block;
    }


    /*Here goes the mobile versión */
    .flex-container-mobile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #4B3663;
    }



    .flex-item-mobile{
        width: 33.3%;
        padding: 30px;

    }

    .flex-item-mobile:nth-child(2){
        padding: 0px;
    }


    .flex-item-mobile:nth-child(1){
       
        padding: 0;
        
    }

    .flex-item-mobile:nth-child(1) div{
        position: absolute;
        top: 10%;
        display: block;
        padding: 0;
    }


    .flex-item-mobile img{
        width: 80px;
        height: 80px;
    }

    .flex-item-mobile:nth-child(1){
        padding: 20px;
    }


    .flex-item-mobile:nth-child(1) input{
        display: none;
    }

    .flex-item-mobile:nth-child(1) i{
        color: #fff;
        font-size: 20px;
        
    }

    .flex-item-mobile:nth-child(3) div{
        text-align: right;
        color: #fff;
        font-size: 20px;
    }


    .flex-item-mobile:nth-child(3) div button{
        background: none;
        border: none;
        color: #fff;
    }


    .flex-container-opcionesMenu{
        width: 0%;
        height: auto;
        background: #fff;
        position: absolute;
        /*z-index: 999;*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .expandfirst{
        width: 100%;
    }




    .flex-itemOpMenu{
        padding: 20px;
        border-bottom: 1px solid #E6E6E6;
    }

    .flex-itemOpMenu a{
        font-size: 18px;
        color: #000;
        
        text-decoration: none;


    }

    .flex-itemOpMenu:first-child button:after{
       
        font-size: 13px;
        color: #000;
        border: none;
        float: right;
        margin-left: 5px
    }





    .flex-itemOpMenu button{
        float: right;
        font-weight: bold;
        background: none;
        border: none;
    }



    .flex-cM{
        overflow: hidden;
        height: 0;
        transition: 0.5s ease-in-out;
    }

    .expandCm{
        
        height: 180px;
    }

    



    .flex-iC{
        padding: 4px;
        width: 100%;
        margin-left: 30px;
        border-bottom: 1px solid #E6E6E6;
        
    }

    .flex-iC p i{
        margin-right: 30%;
        color: #000;
    }
    

    .contenedorPrueba{        
        background: #fff;
        width: 0px;
        height: 600px;
        float: right;
        transition: 0.5s ease-in-out;
        overflow: hidden;
    }

    .contenedorPruebaExpand{
        height: 600px;
        width: 600px;
        /*z-index: 999;*/
    }

    .backButton{
        padding: 10px;
    }

    .backButton p{
        font-size: 18px;
        color: #000;
    }

    .flex-containerSubs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
    }

    .flex-itemsSubs{
        border-bottom: 1px solid #E6E6E6;
        padding: 10px;
    }

}

@media only screen and (max-width: 390px) and (min-width: 321px){
    .closeButton{
        height: 50px;
        width: 50px;
        position: absolute;
        right: 2%;
        top: 80%;
        border-radius: 50%;
        background: #4B3663;
        display: none;
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    .closeButton a{
       position: absolute;
       top: 20%;
       left: 32%;
       text-decoration: none;
       color: #fff;
       font-size: 20px;
    }

    .closeButtonAppear{
        position: fixed;
        display: block;
        /*z-index: 1999;*/
        opacity: 1;
    }
    .contenedorBusqueda{
        height: 600px;
        width: 0%;
        overflow: hidden;
        position: absolute;
        
        /*z-index: 999;*/
        background: #fff;
        transition: 0.3s ease-in-out;
    }

    .expandContenedorBusqueda{
        height: 600px;
        width: 100%;
        background: #fff;
    }

    .searchContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


    .flex-searchItem{
        padding: 10px;
    }

    .flex-searchItem:first-child label{
        font-size: 18px;
    }

    .flex-searchItem:first-child input{
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .flex-containerItemsSearch{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .itemSearch{
        width: 100%;
        padding: 5px;
        height: 100px;
        background: red;
    }

    .contenedorSegundaVista{
        position: absolute; 
        right: 0%;
         /*z-index: 999*/
    }

    #menu-escritorio{
        display: none;
    }

    #menu-movil{
        display: block;
    }

     /*Here goes the mobile versión */
     .flex-container-mobile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #4B3663;
    }



    .flex-item-mobile{
        width: 33.3%;
        padding: 30px;

    }

    .flex-item-mobile:nth-child(2){
        padding: 0px;
    }


    .flex-item-mobile:nth-child(1){
       
        padding: 0px;
    
    }

    .flex-item-mobile:nth-child(1) input{
        width: 0%;
        display: none;

    }

    .flex-item-mobile:nth-child(1) i{
        cursor: pointer;
        position: absolute;
        top: 35px;
        left: 40px;
        color: #fff;  
        font-size: 20px;  
    }

   

    .flex-item-mobile:nth-child(1) div{
        position: absolute;
        top: 0%;
        
        display: block;
        padding: 0px;
    }




    .flex-item-mobile img{
        width: 80px;
        height: 80px;
    }

    .flex-item-mobile:nth-child(3){
        
    }

    .flex-item-mobile:nth-child(3) div{
        text-align: right;
        color: #fff;
        font-size: 20px;
    }


    .flex-item-mobile:nth-child(3) div button{
        background: none;
        border: none;
        color: #fff;
    }


    .flex-container-opcionesMenu{
        width: 0%;
        height: auto;
        background: #fff;
        position: absolute;
        /*z-index: 999;*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .expandfirst{
        width: 100%;
    }




    .flex-itemOpMenu{
        padding: 20px;
        border-bottom: 1px solid #E6E6E6;
    }

    .flex-itemOpMenu a{
        font-size: 18px;
        color: #000;
        
        text-decoration: none;


    }

    .flex-itemOpMenu:first-child button:after{
       
        font-size: 13px;
        color: #000;
        border: none;
        float: right;
        margin-left: 5px
    }





    .flex-itemOpMenu button{
        float: right;
        font-weight: bold;
        background: none;
        border: none;
    }



    .flex-cM{
        overflow: hidden;
        height: 0;
        transition: 0.5s ease-in-out;
    }

    .expandCm{
        
        height: 180px;
    }

    



    .flex-iC{
        padding: 4px;
        width: 100%;
        margin-left: 30px;
        border-bottom: 1px solid #E6E6E6;
        
    }

    .flex-iC p i{
        margin-right: 30%;
        color: #000;
    }
    

    .contenedorPrueba{        
        background: #fff;
        width: 0px;
        height: 600px;
        float: right;
        transition: 0.5s ease-in-out;
        overflow: hidden;
    }

    .contenedorPruebaExpand{
        height: 600px;
        width: 320px;
        /*z-index: 999;*/
    }

    .backButton{
        padding: 10px;
    }

    .backButton p{
        font-size: 18px;
        color: #000;
    }

    .flex-containerSubs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
    }

    .flex-itemsSubs{
        border-bottom: 1px solid #E6E6E6;
        padding: 10px;
    }


}




