<footer>
    <div class="flex-container">
        <div class="flex-item">
            <h1>Herramientas</h1>
            <div>
                <ul>
                    <li><p>Bombeo</p></li>
                    <li><p>Compresion</p></li>
                    <li><p>Corte</p></li>
                    <li><p>Fumigación</p></li>
                    <li><p>Generadores de energia</p></li>
                    <li><p>Limpieza</p></li>
                    <li><p>Medición</p></li>
                    <li><p>Seguridad</p></li>
                    <li><p>Soldar</p></li>
                    <li><p>Ventilación</p></li>
                </ul>
            </div>
        </div>
        <div class="flex-item">
            <h1>Equipos</h1>
            <div>
                <ul>
                    <li><p>Calor</p></li>
                    <li><p>Combos</p></li>
                    <li><p>Corte</p></li>
                    <li><p>Desbaste</p></li>
                    <li><p>Fijación</p></li>
                    <li><p>Inyección</p></li>
                    <li><p>Limpieza</p></li>
                    <li><p>Medición</p></li>
                    <li><p>Perforación</p></li>
                    <li><p>Pintura</p></li>
                    <li><p>Pinzas</p></li>
                </ul>
            </div>
        </div>
        <div class="flex-item">
            <h1>Accesorios</h1>
            <div>
                <ul>
                    <li><p>Combos</p></li>
                    <li><p>Equipo de bombeo</p></li>
                    <li><p>Equipo Neumatico</p></li>
                    <li><p>Herramienta corte</p></li>
                    <li><p>Herramienta desbaste</p></li>
                    <li><p>Herramienta electrica</p></li>
                    <li><p>Herramienta de fijación</p></li>
                    <li><p>Herramienta de perforación</p></li>
                    <li><p>Jardinería </p></li>
                    <li><p>Pintura</p></li>
                    <li><p>Resguardo y acomodo</p></li>
                </ul>
                
                
            </div>
        </div>
        <div class="flex-item">
            <h1>Motores</h1>
            <div>
                <ul><li><p>Motor</p></li></ul>
            </div>
            
        </div>
    
    </div>
    <div class="flex-container2">
        <div class="flex-item2">
            <h1>Contactanos a través de nuestras redes sociales</h1>
            <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
        </div>
        <div class="flex-item2">
            <div class="flex-logo">
                <img src="../../assets/images/powerprologo.png" alt="">        
              </div>
        </div>
        <div class="flex-item2">
            <h1>Pagos</h1>
            <p>Contamos con diferentes metodos de pagos, para que realices tus compras de forma segura.</p>
        </div>

    </div>
    <div class="flex-container3">
        <div class="flex-item3">
            <h1>Politicas de compra</h1>
        </div>
        <div class="flex-item3">
            <h1>Politicas de envio</h1>
        </div>
        <div class="flex-item3">
            <h1>Politicas de reembolso</h1>
        </div>
        <div class="flex-item3">
            <h1>Politicas de subsidio</h1>
        </div>
    </div>
    <div class="flex-container4">
        <div class="flex-item4">
            <p>@Copyright todos los derechos reservados FECEGO.</p>
        </div>

    </div>

</footer>
