<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h1>Equipos </h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc purus, ultricies ut laoreet quis, rhoncus vel diam. Nunc at turpis eget risus fermentum consectetur. Aliquam erat volutpat. Etiam placerat scelerisque quam, eget molestie augue molestie eget. Morbi nec efficitur dolor. </h5>
        </div>
        <div class="col-sm-3">
            <h1>Herramientas</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc purus, ultricies ut laoreet quis, rhoncus vel diam. Nunc at turpis eget risus fermentum consectetur. Aliquam erat volutpat. Etiam placerat scelerisque quam, eget molestie augue molestie eget. Morbi nec efficitur dolor. </h5>
        </div>
        <div class="col-sm-3">
            <h1>Accesorios</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc purus, ultricies ut laoreet quis, rhoncus vel diam. Nunc at turpis eget risus fermentum consectetur. Aliquam erat volutpat. Etiam placerat scelerisque quam, eget molestie augue molestie eget. Morbi nec efficitur dolor. </h5>
        </div>
        <div class="col-sm-3">
            <h1>Motores</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc purus, ultricies ut laoreet quis, rhoncus vel diam. Nunc at turpis eget risus fermentum consectetur. Aliquam erat volutpat. Etiam placerat scelerisque quam, eget molestie augue molestie eget. Morbi nec efficitur dolor. </h5>
        </div>
    </div>

</div>
