<div class="flex-container">
    <div class="flex-item">
        <div>
            <h1>Here goes an image</h1>
        </div>
        <p>Here goes something, some information about the profile.</p>
        <p>Maybe some button to logout</p>
    </div>
    <div class="flex-item">
        <div>
            <h4>Option 1 </h4>
        </div>
        <div>
           <h4>Option 2</h4> 
        </div>
        <div>
            <h4>Option 3</h4>
        </div>
        <div>
            <h4>Option 4</h4> 
        </div>
        <div>
            <h4>Option 5</h4>
        </div>
    </div>
    <div class="flex-item">
        <div>
            <p>Here goes the content that is gonna be changing with evey click</p>
        </div>
        <div>
            <p>Here goes the content that is gonna be changing with evey click</p>
        </div>
        <div>
            <p>Here goes the content that is gonna be changing with every click</p>
        </div>
        <div>
            <p>Here goes the content that is gonna be changing with every clcik</p>
        </div>
        <div>
            <p>Here goes the content that is gonna be changing with evey click</p>
        </div>
        <div>
            <p>Here goes the content that is gonna be changing with every click</p>            
        </div>
    </div>
</div>
