<div class="flex-container">
    <div class="flex-item">
        <p>tienda / categoria / filtro 1 / filtro2</p>
        <div class="flex-container-image">
            <div class="flex-item-image">
                <h1>Big image main</h1>
            </div>
            <div class="flex-item-image">
                <div class="flex-container-mini-images">
                    <div class="flex-item-mini-images">
                        <p>image1</p>
                    </div>
                    <div class="flex-item-mini-images">
                        <p>image2</p>
                    </div>
                    <div class="flex-item-mini-images">
                        <p>image3</p>
                    </div>
                    <div class="flex-item-mini-images">
                        <p>image1</p>
                    </div>
                    <div class="flex-item-mini-images">
                        <p>image2</p>
                    </div>
                    <div class="flex-item-mini-images">
                        <p>image3</p>
                    </div>

                </div>
            </div>
        </div>

    </div>  
    <div class="flex-item">
        <div class="flex-container-informacion">
            <div class="flex-item-informacion">
                informacion numero 1
            </div>
            <div class="flex-item-informacion">
                informacion numero 2
            </div>
            <div class="flex-item-informacion">
                informacion numer3
            </div>
            <div class="flex-item-informacion">
                informacion numero 1
            </div>
            <div class="flex-item-informacion">
                informacion numero 2
            </div>
            <div class="flex-item-informacion">
                informacion numer3
            </div>
            <div class="flex-item-informacion">
                informacion numero 1
            </div>
            <div class="flex-item-informacion">
                informacion numero 2
            </div>
            <div class="flex-item-informacion">
                informacion numer3
            </div>
            <div class="flex-item-informacion">
                informacion numero 1
            </div>
            <div class="flex-item-informacion">
                informacion numero 2
            </div>
            <div class="flex-item-informacion">
                informacion numer3
            </div>
        </div>
        
        
    </div>
</div>
<div class="carrusel-productos">
    <h1>Carrusel de productos</h1>

</div>

<div class="flex-container-descripcion">>
    <div class="flex-item-descripcion">
        <h1>Descripcion</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<div class="carrusel-productos">
    <h1>Carrusel de productos</h1>

</div>

<div class="flex-container-raiting">
    <div class="flex-item-raiting">
        <h1>Raitings</h1>
    </div>
    <div class="flex-item-raiting">
        <h1>Comentairos y reseñas</h1>
    </div>

</div>

<div class="carrusel-productos">
    <h1>Carrusel de productos</h1>

</div>



<!--<div class="flex-container-productoIndividual">
    <div class="flex-item-productoIndividual">
        <div class="flex-container-mini-image">
            <div class="flex-item-mini-image">
                nombre
            </div>
            <div class="flex-item-mini-image">
                nombre
            </div>
            <div class="flex-item-mini-image">
                nombre
            </div>
            <div class="flex-item-mini-image">
                nombre
            </div>
        </div>
    </div>
    <div class="flex-item-productoIndividual">
        <div class="big-image">

        </div>
    </div>
    <div class="flex-item-productoIndividual">
        <div class="flex-container-informacionI">
            <div class="flex-item-informacionI">
                asdadsads
            </div>
            <div class="flex-item-informacionI">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="flex-item-informacionI">
                asdasdas
            </div>
            <div class="flex-item-informacionI">
                adsasdasds
            </div>
            <div class="flex-item-informacionI">
                asdadsas
            </div>
            <div class="flex-item-informacionI">
                    adsadadasd
            </div>

        </div>
    </div>
</div>
<div class="carrusel-imagenes">
    <h1>This is the carrusel de productos</h1>
</div>

<div class="flex-container-comentariosyraiting">
    <div class="flex-item-comentariosyraiting">
        <h1>descripcion</h1>
    </div>
    <div class="flex-item-comentariosyraiting">
        <h1>comentarios y reseñas</h1>
    </div>
    <div class="flex-item-comentariosyraiting">
        <h1>Raiting</h1>
    </div>

</div>

<div class="carrusel-imagenes">
    <h1>This is the carrusel de productos</h1>
</div>

<div class="carrusel-imagenes">
    <h1>This is the carrusel de productos</h1>
</div>-->