<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Lista de deseos</h1>
        </div>

    </div>
    <div class="row">
       <div class="col-sm-12">
        <div class="flex-container-wish">
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            <div class="flex-item-wish">
                <div>
                    <p>image</p>
                </div>
                <div>
                    <p>content-image</p>
                </div>
            </div>
            

        </div>

       </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Productos no disponibles</h1>
            <div class="flex-container-notWish">
                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <p>here goes the image</p>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>nombre</div>
                            <div>Precio</div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>
                                <button>Eliminar</button>
                                <button>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
               

                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <p>here goes the image</p>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>nombre</div>
                            <div>Precio</div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>
                                <button>Eliminar</button>
                                <button>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <p>here goes the image</p>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>nombre</div>
                            <div>Precio</div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>
                                <button>Eliminar</button>
                                <button>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <p>here goes the image</p>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>nombre</div>
                            <div>Precio</div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div>
                                <button>Eliminar</button>
                                <button>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>También podría interesarte</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12 couldInterest">
                <h1>Imagenes de carrusel</h1>
            </div>
        </div>
    </div>

    
    
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>También podría interesarte</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12 couldInterest">
                <h1>Imagenes de carrusel</h1>
            </div>
        </div>
    </div>

</div>