<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 title-wishList">
            <h1>Lista de deseos</h1>
        </div>

    </div>
    <div class="row">
       <div class="col-sm-12">
        <div class="flex-container-wish">
            <div class="flex-item-wish" >
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/taladro.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/martillo.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/martillo.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/martillo.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/martillo.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="flex-item-wish">
                <div class="image-flexItem">
                    <img src="../../assets/images/Imagenes/taladro.png" alt="">
                </div>
                <div class="text-flexItem">
                    <p>$1200.00</p>
                    <p><a href="">Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</a></p>
                </div>
                <div class="botones-wishList">
                    <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <button><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
            

        </div>

       </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notAvailable">
            <h1>Productos no disponibles</h1>
            <div class="flex-container-notWish">
                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <img src="../../assets/images/Imagenes/taladro.png" alt="">
                        </div>
                        <div class="flex-item2-notwish">
                          <div class="flex-informationNotWish">
                            <p>Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</p>
                            <p>$1200.00</p>
                          </div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div class="buttonsNotWish">
                                <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
               

                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <img src="../../assets/images/Imagenes/martillo.png" alt="">
                        </div>
                        <div class="flex-item2-notwish">
                          <div class="flex-informationNotWish">
                            <p>Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</p>
                            <p>$1200.00</p>
                          </div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div class="buttonsNotWish">
                                <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-item-not-wish">
                    <div class="flex-container2-notwish">
                        <div class="flex-item2-notwish">
                            <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        </div>
                        <div class="flex-item2-notwish">
                          <div class="flex-informationNotWish">
                            <p>Taladro de destruccion War Hammer hubs, Iron Hammer No war no drugs ultrainstict full power prod mix de mixe</p>
                            <p>$1200.00</p>
                          </div>
                        </div>
                        <div class="flex-item2-notwish">
                            <div class="buttonsNotWish">
                                <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        

    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 carruselesAlso">
            <h1>También podría interesarte</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12 couldInterest">
                <h1>Imagenes de carrusel</h1>
            </div>
        </div>
    </div>

    
    
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 carruselesAlso">
            <h1>También podría interesarte</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12 couldInterest">
                <h1>Imagenes de carrusel</h1>
            </div>
        </div>
    </div>

</div>