<div class="container-fluid">
    <div class="row fila">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="flex-container-login">
                <div class="flex-item-login">
                    <h1>Inicia sesión con nosotros</h1>
                    <p>Inicia sesión con Power pro</p>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>

</div>