.flex-container-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-login{   
    align-self: center;
    align-items: center;


}

.file{
    height: 500px;
}


@media screen and (max-width: 640px) and (min-width: 568px){
    .fila{
        height: 350px;
    }
}


@media only screen and (max-width: 390px) and (min-width:321px){
    .fila{
        height: 350px;
    }
}
