
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
            <h1>Here goes the banner product</h1>
        </div>
    </div>
    <div class="row">
        <h1>tienda / accesorios / bombas</h1>
    </div>
    
</div>
<div class="flex-container-tienda">
    <div class="flex-item-tienda">
        Here goes the filter section
    </div>
    <div class="flex-item-tienda">
        <div class="flex-container-tienda2">
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        Image
                    </div>
                    <div class="info-t">
                        <p>nombre</p>
                        <p>precio</p>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div style="text-align: center;">
            <h1>Here goes the pagination section</h1>
        </div>
    </div>
    
</div>
