
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
            <div class="contenedorImagen">
                <img src="../../assets/banners/blackdeckerbanner.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row path-content">
        <p>tienda / accesorios / bombas</p>
    </div>
    
</div>
<div class="flex-container-tienda">
    <div class="flex-item-tienda">
      <div class="categoriasFiltros">
        <p>Categorias</p>
        <p>Subcategoria nivel 1</p>
        <p>Subcategoria nivel 2</p>
        <p>Precio</p>
        <p>Marca</p>
        <p>Conexión</p>
      </div>
    </div>
    <div class="flex-item-tienda">
        <div class="flex-container-tienda2">
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <div class="preciosdesc">
                                <p>$7000.00</p>
                                <p>-30%</p>
                            </div>
                            <div class="precios">
                                <p>$450.00</p>  
                            </div>
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            
                           
                        </div>
                        
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/martillo.png" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro.png" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/martillodemoledor.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/martillo.png" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro.png" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/martillodemoledor.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="flex-item-tienda2">
                <div class="image-product">
                    <div class="product-t">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                        <div class="positionOptions">
                            <div class="flex-contOptions">
                                <button><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                <button><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                               
                                    
                               
                            </div>
                        </div>
                    </div>
                    <div class="info-t">
                        <div class="generalInfoProduct">
                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="displayOptions">
                        <div>
                            <p>Opciones: diferentes colores como lo hace nike y converse o modelos</p>
                        </div>
                        <div>
                            <p>Promociones: información de la promocion</p>
                        </div>
                        <div>
                            <p>Información: descripciones extras del producto</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div style="text-align: center;">
            <h1>Here goes the pagination section</h1>
        </div>
    </div>
    
</div>
