.clasificacion-responsiva{
    display: none;
}


.flex-containerHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-itemHeader{
    flex: 1;
}

.flex-itemHeader:nth-child(3){
    display: none;
}

.flex-itemHeader:nth-child(3) button{
    background: #fff;
    border: none;
}



.categoriasFiltros:hover .filtrosRadios{
    height: 400px;
}

.filtrosRadios{
   
   height: 0px;
   overflow: hidden; 
   transition: 0.3s ease-in-out;
}

.categoriasFiltros h1{
    font-size: 16px;
    
}


.categoriasFiltros i{
    float: right;
}

.pagination{
    background: #fff;
    background: #F2F2F2;
   
}


.pagination div{

}

.pagination button{
    display: inline;
    background: none;
    border: 1px solid #000;
    margin-left: 2px;
}


.categoriaFiltros p{
    display: block;
    padding: 20px;
}


.flex-contOptions button{
    background: #F2F2F2;
    margin: 3px;
    display: block;
    border: none;
    padding: 10px;
}

.positionOptions{
    position: absolute;
    top: -20%;
    left: 80%;
    transition: 0.5s ease-in-out;
    height: auto;
    width: 100%;
    
    opacity: 0;

}


.flex-itemOption{
    flex: 1;
    margin: 1px;
}






.preciosdesc p{
    display: inline;
    line-height: 1em;
    
}

.preciosdesc p:first-child{
    color: grey;
    text-decoration: line-through;
    font-size: 14px;
}

.preciosdesc p:nth-child(2){
    color: red;
    font-size: 300px;
    margin-left: 10px;
}

.precios p{
    display: inline;
    
}



.precios p:nth-child(1){
    font-size: 20px;
    color: red;
}




.generalInfoProduct{
    background: green;
    height: 100%;
    display: block;
    position: absolute;
    line-height: 1em;
}


.generalInfoProduct i{
    color:#FFBF00;
}

.generalInfoProduct p:last-child{
    font-size: 1vw;
    font-weight: bold;
}

.displayOptions{
    background: #fff;
    z-index: 9999;
    position: absolute;
    height: auto;
    display: none;
    transition: 1s ease-in-out;
    width: 100%;
    padding: 10px;
}

.displayOptions div p{
    font-size: 14px;
}

.displayOptions button{
    display: inline;
    margin: auto;
    background: none;
    border: none;
    
}

.image-product{
    position: relative;
    
}

.path-content p{
    font-size: 20px;
    margin-left: 10px;
}


.title{
    
    color: #fff;
    height: 180px;
}

.title img{
    width: 100%;
    height: 100%;
}


.contenedorImagen{
    width: 100%;
    height: 100%;
}

.title h1{
    text-align: center;
    
}

.flex-container-tienda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3px;
}   

.flex-item-tienda{
    flex: 4;
    height: 300px;
    background: #F2F2F2;
    height: auto;
}

.flex-item-tienda:first-child{
    flex: 1;
    background: #fff;
    padding: 10px;
}

.flex-container-tienda2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.flex-item-tienda2{
    width: 23%;
    margin: 4px;
    height: 420px;
}



.flex-item-tienda2:hover .displayOptions{
    display: inline;
    
}

.flex-item-tienda2:hover .positionOptions{
    
    opacity: 1;
    transform: translate(0, 120px);
}


.product-t{
    height: 270px;
    width: 100%;
    background: #fff;
    padding: 30px;
}

.product-t img{
    width: 100%;
    height: 100%;
}


.info-t{
    background: #fff;
    height: 138px;
}

.info-t .generalInfoProduct{
    background: none;
    height: 100%;
    display: block;
    position: absolute;
    padding: 20px;
}

.generalInfoProduct p{
    
}







@media screen and (max-width: 640px) and (min-width: 568px){


    .contenedorFiltrosResponsivos{
        padding: 20px;
    }

    .filtrosExp{
        
        max-height: 0px;
        
        overflow: hidden;
        transition: 0.5s ease-in-out;
        
    }

   .filtrosExp .prueba{
       padding: 10px;
   }

    .filtrosExpExpand{
        max-height: 300px;
    }


    .indexIncrease{
        
    }

    .flex-containerHeader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }


    .flex-itemHeader{
        flex: 1;
        padding: 20px;
    }

    .positionOptions{
        position: absolute;
        top: 10%;
        left: 80%;
        opacity: 1;
        height: auto;
        width: auto;
        
    }


   

    .flex-item-tienda2:hover .positionOptions{
    
        opacity: 1;
        transform: none;
    }


    .flex-item-tienda{
        
    }

    .flex-item-tienda:first-child{
        display: none;
    }

    .flex-item-tienda2{
        width: 48%;
    }

    .flex-itemHeader:nth-child(3){
        display: block;
        margin: 0 10px 0 10px;
    }

    


    .clasificacion-responsiva{
        display: block;
        position: absolute;
        right: 0%;
        z-index: 999;
        width: 0%;
        height: 500px;
        background: #fff;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .clasificacion-responsiva button{
        background: none;
        border: none;
    }

    .clasificacion-responsiva  i{
       float: right;
    }


    .clasificacion-responsivaExpand{
        width: 80%;
        right: 3%;
    }

    .flex-item-tienda:nth-child(3):hover .clasificacion-responsiva{
        height: 500px;
    }

 
    .flex-item-tienda2:hover .displayOptions{
        display: none;
        
    }

    .buttonCerrarFiltrosResponsive{
        position: absolute;
        top: 60%;
        right: 2%;
        border-radius: 50%;
        background: #000;
        padding: 10px;
    }

    .buttonCerrarFiltrosResponsive button{
        color: #fff;
    }


    

    

}


@media only screen and (max-width: 390px) and (min-width:321px){

    .buttonCerrarFiltrosResponsive{
        position: absolute;
        top: 60%;
        right: 2%;
        border-radius: 50%;
        background: #000;
        padding: 10px;
    }

    .buttonCerrarFiltrosResponsive button{
        color: #fff;
    }

    .contenedorFiltrosResponsivos{
        padding: 20px;
    }

    .clasificacion-responsiva{
        display: block;
        position: absolute;
        right: 0%;
        z-index: 999;
        width: 0%;
        height: 500px;
        background: #fff;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .clasificacion-responsiva button{
        background: none;
        border: none;
    }

    .clasificacion-responsiva  i{
       float: right;
    }

    .clasificacion-responsivaExpand{
        width: 80%;
        right: 3%;
    }

    .flex-contOptions button{
        background: #F2F2F2;
        margin: 3px;
        display: block;
        border: none;
        padding: 2px;
    }

    .flex-containerHeader{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .flex-item-tienda:first-child{
        display: none;
    }

    .flex-container-tienda2{
        justify-content: center;
        align-items: center;
    }

    .flex-item-tienda2{
        width: 46%;
        height: 370px;
        
    }

    .product-t{
        height: 200px;
    }


    .flex-itemHeader:nth-child(3){
        display: block;
    }


    .positionOptions{
        position: absolute;
        top: 10%;
        left: 80%;
        opacity: 1;
        height: auto;
        width: auto;
        
    }

    .flex-item-tienda2:hover .positionOptions{
    
        opacity: 1;
        transform: none;
    }


    .flex-item-tienda2:hover .displayOptions{
        display: none;
        
    }


    .generalInfoProduct p{
        font-size: 3vw;
        font-weight: bold;
    }

    .filtrosExp{
        
        max-height: 0px;
        
        overflow: hidden;
        transition: 0.5s ease-in-out;
        
    }

   .filtrosExp .prueba{
       padding: 20px;
   }

    .filtrosExpExpand{
        max-height: 300px;
    }

   

   

}