<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <h1>Mapa del sitio</h1>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>

    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
    </div>
    <div class="flex-item">
        <div>
            <h1>Prueba title</h1>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
            <p>Pruenba contenido</p>
        </div>
        
    </div>

</div>