<div class="container-fluid">
    <div class="row">
        <h1>carrito de compras</h1>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-cartInfo">
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div>
                      <p>Here its the image</p>
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Here goes the name of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the price of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the quantity of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the total individual</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button>Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                           <button>mover a algun lado</button>
                        </div>
                    </div>
                </div>

            </div>   
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div>
                      <p>Here its the image</p>
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Here goes the name of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the price of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the quantity of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the total individual</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button>Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                           <button>mover a algun lado</button>
                        </div>
                    </div>
                </div>

            </div>  
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div>
                      <p>Here its the image</p>
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Here goes the name of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the price of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the quantity of the product</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>Here goes the total individual</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button>Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                           <button>mover a algun lado</button>
                        </div>
                    </div>
                </div>

            </div>  
           
             
        </div>

        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-cartInfoDesgloce">
            <div style="background: grey;">
                <div class="flex-container5"> 
                      <div class="flex-item5">
                        Envio:
                      </div> 
                      <div class="flex-item5">
                        200.00                        
                    </div>
                    <div class="flex-item5">
                        Subtotal
                    </div>
                    <div class="flex-item5">
                        3050.00
                    </div>
                    <div class="flex-item5">
                        Total
                    </div>
                    <div class="flex-item5">
                        3250.00
                    </div>     
                
                </div>
                
            </div>
        </div>

    </div>
   
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Productos no disponibles</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="flex-container-not-available">
                <div class="flex-item-not-available">
                    <p>Here goes the image of the product not available.</p>
                </div>
                <div class="flex-item-not-available">
                    <div class="flex-container-info-notAvailable">
                        <div class="flex-item-info-notAvailable">
                            <p>Here goes the name</p>
                            <p>here goes the price</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <button>Eliminar</button>
                            <button>Añadir</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más de nuestros productos</h1>
        </div>
        <div class="col-sm-12" style="background: red; height: 160px;">
           <p>Carrusel de productos</p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más de nuestros productos</h1>
        </div>
        <div class="col-sm-12" style="background: red; height: 160px;">
            <p>Carrusel de productos</p>
        </div>
    </div>

</div>