<div class="container-fluid">
    <div class="row title-cart">
        <h1>Carrito de compras</h1>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 col-cartInfo">
            <div class="flex-container-titulos">
                <div class="flex-items-titulos">
                    
                </div>
                <div class="flex-items-titulos">
                    <p>Nombre</p>
                </div>
                <div class="flex-items-titulos">
                    <p>Precio</p>
                </div>
                <div class="flex-items-titulos">
                    <p>Cantidad</p>
                </div>
                <div class="flex-items-titulos">
                    <p>Total individual</p>
                </div>

            </div>
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div class="flex-img">
                      <img src="../../assets/images/Imagenes/taladro.png" alt="">
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>$3500.00</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="flex-item2-carrito">
                           <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                           <button><i class="fa fa-shopping-bag" aria-hidden="true"></i> Comprar ahora</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>Guardar para más tarde</button>
                         </div>
                    </div>
                </div>

            </div>   
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div class="flex-img">
                      <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>$3500.00</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="flex-item2-carrito">
                           <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-shopping-bag" aria-hidden="true"></i> Comprar ahora</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>Guardar para más tarde</button>
                         </div>
                    </div>
                </div>

            </div> 
            
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div class="flex-img">
                      <img src="../../assets/images/Imagenes/martillo.png" alt="">
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>$3500.00</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="flex-item2-carrito">
                           <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-shopping-bag" aria-hidden="true"></i> Comprar ahora</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>Guardar para más tarde</button>
                         </div>
                    </div>
                </div>

            </div>   
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div class="flex-img">
                      <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>$3500.00</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="flex-item2-carrito">
                           <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-shopping-bag" aria-hidden="true"></i> Comprar ahora</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>Guardar para más tarde</button>
                         </div>
                    </div>
                </div>

            </div> 
            <div class="flex-container-carrito">
                <div class="flex-item-carrito" >
                   <div class="flex-img">
                      <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                   </div>
                </div>
                <div class="flex-item-carrito">
                    <div class="flex-container2-carrito">
                        <div class="flex-item2-carrito">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <p>$3500.00</p>
                        </div>
                        <div class="flex-item2-carrito">
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="flex-item2-carrito">
                           <p>$7000.00</p>
                        </div>
                    </div>
                    <div class="flex-container3-carrito">
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Mover a la lista de deseos</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button> <i class="fa fa-trash-o" aria-hidden="true"></i> eliminar</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button><i class="fa fa-shopping-bag" aria-hidden="true"></i> Comprar ahora</button>
                        </div>
                        <div class="flex-item3-carrito">
                            <button>Guardar para más tarde</button>
                         </div>
                    </div>
                </div>

            </div>   
           
             
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 col-cartInfoDesgloce">
            <div class="containerPago">
                <div class="flex-container5"> 
                      <div class="flex-item5">
                        <p>Envio</p><p>$20000.00</p>
                        
                      </div> 
                      <div class="flex-item5">
                        <p>Descuentos</p><p>$2400.00</p>
                      </div>
                      <div class="flex-item5">
                        <p>Cupones</p><p>$20.00</p>
                      </div>
                      <div class="flex-item5">
                        <p>Subtotal</p><p>$315.00</p>                      
                    </div>
                    <div class="flex-item5">

                        <p>Total</p><p>$400.00</p>
                    </div>
                    <div class="flex-item5">

                        <button>Comprar</button>
                    </div>
                    <div class="flex-item5">
                        <p>Los precios se aplican acorde a la forma de pago.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</div>

<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12 title-notAvailable">
            <h1>Tus productos</h1>
            
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="flex-container-not-available">
                <div class="flex-item-not-available">
                    <div class="imagenesNotAvailable">
                        <img src="../../assets/images/Imagenes/taladro.png" alt="">
                    </div>
                </div>
                <div class="flex-item-not-available">
                    <div class="flex-container-info-notAvailable">
                        <div class="flex-item-info-notAvailable">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <p>Actualmente disponible</p>

                        </div>
                        <div class="flex-item-info-notAvailable">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Añadir a la wish list</button>
                            <button><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-container-not-available">
                <div class="flex-item-not-available">
                    <div class="imagenesNotAvailable">
                        <img src="../../assets/images/Imagenes/taladro2.jpg" alt="">
                    </div>
                </div>
                <div class="flex-item-not-available">
                    <div class="flex-container-info-notAvailable">
                        <div class="flex-item-info-notAvailable">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <p>No disponible por el momento.</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Añadir a la wish list</button>
                            <button><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-container-not-available">
                <div class="flex-item-not-available">
                    <div class="imagenesNotAvailable">
                        <img src="../../assets/images/Imagenes/martillo.png" alt="">
                    </div>
                </div>
                <div class="flex-item-not-available">
                    <div class="flex-container-info-notAvailable">
                        <div class="flex-item-info-notAvailable">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <p>No disponible por el momento.</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Añadir a la wish list</button>
                            <button><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-container-not-available">
                <div class="flex-item-not-available">
                    <div class="imagenesNotAvailable">
                        <img src="../../assets/images/Imagenes/taladro.png" alt="">
                    </div>
                </div>
                <div class="flex-item-not-available">
                    <div class="flex-container-info-notAvailable">
                        <div class="flex-item-info-notAvailable">
                            <p>Taladro war hammer destruction, balistic thors mix of mixes</p>
                            <p>$7000.00</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <p>Actualmente disponible</p>
                        </div>
                        <div class="flex-item-info-notAvailable">
                            <button><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
                            <button><i class="fa fa-heart-o" aria-hidden="true"></i> Añadir a la wish list</button>
                            <button><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más de nuestros productos</h1>
        </div>
        <div class="col-sm-12" style="background: red; height: 160px;">
           <p>Carrusel de productos</p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más de nuestros productos</h1>
        </div>
        <div class="col-sm-12" style="background: red; height: 160px;">
            <p>Carrusel de productos</p>
        </div>
    </div>

</div>