<!--==========================Equipos=================================================0-->
<div>
    <div class="container-fluid" style="background: orange;">
        <div class="row" style="height: auto; background: pink;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="background: goldenrod;">
                <h1>This is the second click, aqui vamos a colocar la información acorde a las categorias</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="flex-container">
                    <div class="flex-item1">
                        <h1>Esta es una prueba de flex-container item 1</h1>
                    </div>
                    <div class="flex-item1">
                       <div class="flex-container-inside">
                           <div class="flex-insider">
                             <h1>Sonelementosi interneos</h1>
                           </div>
                           <div class="flex-insider">
                             <h1>Sonelementosi interneos</h1>
                           </div>
                           <div class="flex-insider">
                             <h1>Sonelementosi interneos</h1>
                           </div>
                           <div class="flex-insider">
                             <h1>Sonelementosi interneos</h1>
                           </div>
                           <div class="flex-insider">
                            <h1>Sonelementosi interneos</h1>
                          </div>
                          
                           
    
                       </div>
                    </div>
    
                </div>
            </div>
        </div>
       
       
    
        
    
        
    </div>
    <div class="container-fluid">
        <div class="row" style="position: relative;">
            <div class="col-sm-12">
                <h1>Conoce más</h1>
            </div>
            <div class="col-sm-12 carrusel-categorias">
                <h1>Here goes a carrusel</h1>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row"sa style="padding: 40px; position: relative;">
            <div class="col-sm-12 publish-image" >
                <img src="" alt="">
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="flex-container-subs">
                    <div class="flex-item-subs">
                        <h1>es aqui </h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>Supp</h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1></h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>Sipp</h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>supp</h1>
                    </div>
                    <div class="flex-item-subs">
    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Conoce más</h1>
            </div>
            <div class="col-sm-12 carrusel-categorias">
                <h1>Here goes a carrusel</h1>
            </div>
        </div>

    </div>
</div>

<!--=================================================================================================================-->
<!--==========================Herramientas=================================================0-->
<!--<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h1>This is the second click, aqui vamos a colocar la información acorde a las categorias</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-9">
                <div class="flex-container-equipos">
                    <div class="flex-item1-equipos">
                        <h1>Esta e suna prueba de flex-container-equipos</h1>
            v        </div>
                    <div class="flex-item1-equipos">
                       <div class="flex-container-inside-equipos">
                           <div class="flex-insider-equipos">
                        
                                <div style="background: yellow;">
                                    aadsads 
                                </div>
                                <div style="background: orange;">
                                    asdadsa
                                </div>
                              
                           </div>
                           <div class="flex-insider-equipos">
                        
                            <div style="background: yellow;">
                                aadsads 
                            </div>
                            <div style="background: orange;">
                                asdadsa
                            </div>
                          
                       </div>
                       <div class="flex-insider-equipos">
                        
                        <div style="background: yellow;">
                            aadsads 
                        </div>
                        <div style="background: orange;">
                            asdadsa
                        </div>
                      
                   </div>
                          
                          
                          
                           
    
                       </div>
                    </div>
    
                </div>
            </div>
        </div>
       
        
    
      
    
       
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más</h1>
        </div>
        <div class="col-sm-12 carrusel-categorias">
            <h1>Here goes a carrusel</h1>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row" style="padding: 40px;">
        <div class="col-sm-12 flex-container-h2">
            <div class="flex-i-h2">
                asdasdsa
            </div>
            <div class="flex-i-h2">
                es aqui asdasdas
            </div>
            <div class="flex-i-h2">
                asdasdasd
            </div>
            <div class="flex-i-h2">
                asasdasd
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="flex-container-subs">
                    <div class="flex-item-subs">
                        <h1>Supp </h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>Es aqui purp</h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1></h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>Sipp</h1>
                    </div>
                    <div class="flex-item-subs">
                        <h1>supp</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Conoce más</h1>
            </div>
            <div class="col-sm-12 carrusel-categorias">
                <h1>Here goes a carrusel</h1>
            </div>
        </div>
    </div>

</div>-->


<!--==============================Accesoios================================================-->
<!--<div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="background: goldenrod;">
            <h1>This is the second click, aqui vamos a colocar la información acorde a las categorias</h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="flex-container-first-accesorios">
                <div class="flex-item-first-accesorios">
                    <h1>ASdasdasd</h1>
                </div>
                <div class="flex-item-first-accesorios">
                    <h1>asdasdasddsa</h1>
                </div>
            </div>

            <div class="flex-container-second-accesorios">
                <div class="flex-item-second-accesorios">
                    <h1>asdasdsad</h1>
                </div>
                <div class="flex-item-second-accesorios">
                    <h1>asdasdasd</h1>
                </div>

                <div class="flex-item-second-accesorios">
                    <h1>sadasdas</h1>
                </div>
                <div class="flex-item-second-accesorios">
                    <h1>asdasdasdas</h1>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más</h1>
        </div>
        <div class="col-sm-12 carrusel-categorias">
            <h1>Here goes a carrusel</h1>
        </div>
    </div>
    <div class="row" style="padding: 40px; background: paleturquoise; margin-top: 10px;">
        <div class="col-sm-12 flex-container-h2">
            <div class="flex-i-h2">
                <h1>asdasdasdas</h1>
            </div>
            <div class="flex-i-h2">
                <h1>asdasdasd</h1>
            </div>
            <div class="flex-i-h2">
                <h1>asdasdasdasdas</h1>
            </div>
            
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="flex-container-subs">
                <div class="flex-item-subs">
                    <h1>Supp </h1>
                </div>
                <div class="flex-item-subs">
                    <h1>Supp</h1>
                </div>
                <div class="flex-item-subs">
                    <h1>Here is the violet</h1>
                </div>
                <div class="flex-item-subs">
                    <h1>Sipp</h1>
                </div>
                <div class="flex-item-subs">
                    <h1>supp</h1>
                </div>
                <div class="flex-item-subs">
                    <h1></h1>
                </div>
                <div class="flex-item-subs">
                    <h1>Sipp</h1>
                </div>
                <div class="flex-item-subs">
                    <h1>supp</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Conoce más</h1>
        </div>
        <div class="col-sm-12 carrusel-categorias">
            <h1>Here goes a carrusel</h1>
        </div>
    </div>
</div>
</div>-->

<!--===================================MOTORES==========================================-->

<!--<div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="background: goldenrod;">
            <h1>This is the second click, aqui vamos a colocar la información acorde a las categorias</h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="flex-container-motores">
                <div class="flex-item-motores">
                    asasdads
                </div>
                <div class="flex-item-motores">
                    <div class="flex-IC-t">
                        <div class="flex-IC-t2">
                            <h1>stay this</h1>
                        </div>
                        <div class="flex-IC-t2">
                            <div class="flex-container-subItems">
                                <div class="flex-items-sub">
                                    asdasdas
                                </div>
                                <div class="flex-items-sub">
                                    asdadssddasdsa
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
  
    

   
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nuestros motores</h1>
        </div>
        <div class="col-sm-12 carrusel-categorias">
            <h1>Here goes a carrusel</h1>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row" style="padding: 40px; background: paleturquoise; margin-top: 10px;">
        <div class="col-sm-12 flex-container-h2">
            <div class="flex-i-h2">
                asdasdsa
            </div>
            <div class="flex-i-h2">
                asdasdasd
            </div>
            
            
        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nuestros motores</h1>
        </div>
        <div class="col-sm-12 carrusel-categorias">
            <h1>Here goes a carrusel</h1>
        </div>
    </div>

</div>
</div>-->