<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="flex-container-verificacion">
               
                <div class="flex-item-verificacion">
                    <h1>Activación de la cuenta</h1>
                    <p>Aqui recibimos la respuesta dependiendo si la cuenta se puede activar, no sirve el enalce de activación,
                        , la cuenta ha sido activada, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
