<div class="container-fluid first-element">
    

</div>
<div class="container" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="row">
        <div class="col-sm-12">
            <h1>Categorias editado</h1>
        </div>
    </div>
    <div class="row">
        <div class= "col-sm-3" style="padding: 2px">
            <div style="width: 100%; height: 350px; background: beige; cursor: pointer;"  routerLink="/tienda/accesorios">
                <h1>Accesorios</h1>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 2px">
            <div style="width: 100%; height: 350px; background: yellow; cursor: pointer; cursor: pointer;" routerLink="/tienda/equipos">
                <h1>Equipos</h1>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 2px">
            <div style="width: 100%; height: 350px; background: blueviolet; cursor: pointer;"  routerLink="/tienda/herramientas">
                <h1>Herramientas</h1>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 2px">
            <div style="width: 100%; height: 350px; background: chartreuse; cursor: pointer;"  routerLink="/tienda/motores">
                <h1>Motores</h1>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid" id="first-publicity" style="background: purple; padding: 30px;margin-top: 10px;">
    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 first-element-div">
            <div class="first-publicity">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 first-element-div">
            <div class="first-publicity">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 first-element-div">
            <div class="first-publicity">

            </div>
        </div>

    </div>
</div>

<div class="container-fluid" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="row">
        <div class="col-sm-12">
            <h1>Ubicaciones</h1>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <h1>Hogar</h1>
        </div>
        <div class="flex-item">
            <h1>Jardín</h1>
        </div>
        <div class="flex-item">
            <h1>Agricultura</h1>
        </div>
        <div class="flex-item">
            <h1>Negocío</h1>
        </div>
        <div class="flex-item">
            <h1>Industría</h1>
        </div>

    </div>
</div>

<div class="container-fluid publicity-four">
    <div class="row">
        <div class="col-sm-6">
            <div style="background: pink; height: 450px;">
                
            </div>

        </div>
        <div class="col-sm-6" >
            <div style="background: gold; height: 450px;">
            </div>
        </div>
        <div class="col-sm-12" >
            <div style="background: orange; height: 450px; margin-top: 30px;">

            </div>
        </div>

    </div>

</div>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
        <div class="col-sm-12">
            <h2>Especialidades</h2>
        </div>
    </div>
    <div class="flex-container-especialidad">
        <div class="flex-item2">
            <h2>Albañilería</h2>
        </div>
        <div class="flex-item2">
            <h2>Carpintería</h2>
        </div>
        <div class="flex-item2">
            <h2>Electricista</h2>
        </div>
        <div class="flex-item2">
            <h2>Herrería</h2>
        </div>
        <div class="flex-item2">
            <h2>Mecanica</h2>
        </div>
        <div class="flex-item2">
            <h2>Pintura</h2>
        </div>
        <div class="flex-item2">
            <h2>Plomería</h2>
        </div>  
        <div class="flex-item2">
            <h2>Aluminero</h2>
        </div>
        <div class="flex-item2">
            <h2>Hojalatería</h2>
        </div>
        <div class="flex-item2">
            <h2>Jardinería</h2>
        </div>
        <div class="flex-item2">
            <h2>Otros</h2>
        </div>
       


    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
           <div class="publicity-fifth">

           </div> 
        </div>
        <div class="col-sm-6">
            <div class="publicity-fifth">

            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Marcas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="background: black; height: 150px;">
            Carrusel de marcas
        </div>
        
    </div>
    
</div>

